body {
    margin: 0;
    font-family: 'Poppins';
}
.container {
    margin: 0 auto;
    max-width: 1140px;
}

a {
    text-decoration: none;
   color: inherit;
   cursor: pointer;
}
h1,h2,h3,h4,h5,h6,ul,p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1190px) {
    .container {
        padding: 0 30px;
    }
}