.shop {
    margin-bottom: 110px;
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 22px;
        flex-wrap: wrap;
    }
    &__title {
        @include  font (700, 20px, $liteblack);
        text-align: center;
    }
    &__text {
        @include font (400, 15px, $liteblack);
        margin: 15px 0 2px;
        text-align: center;
    }
    &__item {
        display: block;
        @include font (300, 15px, $liteblack);
        margin: 38px 0 3px;
    }
    &__info {
        margin-top: 60px;
    }
    &__nick {
        @include font  (600, 15px,  $liteblack);
        margin-bottom: 3px;
    }
    &__discount {
        @include font (400, 15px, $liteblack);
        margin-right: 30px;
    }
    &__new--price {
        @include font (400, 15px, $litered);
    }
}
@media screen and (max-width:908px) {
    .shop {
        &__content {
            justify-content: center;
            
        }
    }
}